<div class="wrapper">
    <div class="inner">
        <img src="../../../assets/Programmer-cuate.png" alt="" class="image-1">
        <form action="">
            <h3>Apply for JAP</h3>
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-holder">
                <select id="inputState" class="form-control" placeholder="Education Level">
                    <option value=1>High School</option>
                    <option>Bachelor</option>
                    <option>Master</option>
                    <option>PhD</option>
                </select>
            </div>
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="Cover Letter">
            </div>
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="CV">
            </div>
            <button>
                <span>Apply</span>
            </button>
        </form>
        <img src="../../../assets/Programmer-amico.png" alt="" class="image-2">
    </div>
</div>