<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
        <div routerLink="/applications" style="cursor: pointer;">
            <li class="nav-list-item">
                <i class="fa-solid fa-window-maximize"></i>
                <span>
                    <a>Application</a>
                </span>
            </li>
        </div>
        <div routerLink="/selections" style="cursor: pointer;">
            <li class="nav-list-item">
                <i class="fa-solid fa-list-check"></i>
                <span>
                    <a>Selection</a>
                </span>
            </li>
        </div>
        <div routerLink="/editors" style="cursor: pointer;">
            <li class="nav-list-item">
                <i class="fa-solid fa-users"></i>
                <span>
                    <a>Editors</a>
                </span>
            </li>
        </div>
    </ul>
</div>