<div class="p-4">
    <div class="row text-center mb-3">
        <div class="col-4"></div>
        <div class="col">
            <p class="h4 font-weight-bold">Selection Details</p>
        </div>
        <div class="col-2"></div>
        <div class="col-2"><button type="button" class="btn btn-dark" (click)="openDialog()">Edit Selection</button>
        </div>
    </div>
    <table class="table table-striped table-hover text-center mb-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ selection.name }}</td>
                <td>{{ selection.startDate }}</td>
                <td>{{ selection.endDate }}</td>
                <td>{{ selection.description }}</td>
            </tr>
        </tbody>
    </table>
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav> -->
    <div class="row text-center">
        <div class="col">
            <p class="h4 font-weight-bold mb-3 mt-5">Applicants in this Selection</p>
        </div>
    </div>
    <table class="table table-striped table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Education</th>
                <th scope="col">Remove from Selection</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let applicant of selection.applications">
                <th scope="row">1</th>
                <td>{{ applicant.firstName }}</td>
                <td>{{ applicant.lastName }}</td>
                <td>{{ applicant.email }}</td>
                <td>{{ applicant.educationLevel }}</td>
                <td>
                    <button type="button" class="btn btn-danger"
                        (click)="removeApplicantToSelection(applicant.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btn-dark" (click)="openApplicantsSection()"><i
                    class="fa-solid fa-plus me-2"></i>Open Applicants</button>
        </div>
    </div>
    <div *ngIf="visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btn-dark" (click)="openApplicantsSection()"><i
                    class="fa-solid fa-minus me-2"></i>Close Applicants</button>
        </div>
    </div>
    <div *ngIf="visible">
        <div class="row text-center">
            <div class="col">
                <p class="h4 font-weight-bold mb-3 mt-5">Add Applicant to Selection</p>
            </div>
        </div>
        <div class="row text-center mb-3">
            <div class="col-3">
                <div class="d-flex"> <input #newSearch name="search" class="form-control mr-2" type="search"
                        placeholder="Name" aria-label="Search">
                    <button class="btn btnsearch" type="submit"
                        (click)="onSearchApplicants(newSearch.value)">Search</button>
                </div>
            </div>
            <div class="col-9"></div>
        </div>
        <table class="table table-striped table-hover text-center mb-4">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Education</th>
                    <th scope="col">Add to Selection</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of applicants">
                    <th scope="row">1</th>
                    <td>{{ applicant.firstName }}</td>
                    <td>{{ applicant.lastName }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.educationLevel }}</td>
                    <td>
                        <button type="button" class="btn btn-success"
                            (click)="newApplicantId(applicant.id)">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="comments" *ngFor="let comment of selection.comments">
        <div class="card text-center mt-5">
            <div class="card-header card-title">
                <div class="h5 mt-1"> {{ comment.user.username }} </div>
            </div>
            <div class="card-body p-4">
                <p class="card-text"> {{ comment.comment }} </p>
            </div>
        </div>
    </div>
    <div *ngIf="!visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btnaddnewcomment" (click)="openCommentSection()"><i
                    class="fa-solid fa-plus me-2"></i>Add Comment</button>
        </div>
    </div>
    <div *ngIf="visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btnaddnewcomment" (click)="openCommentSection()"><i
                    class="fa-solid fa-minus me-2"></i>Close Comment</button>
        </div>
    </div>
    <div *ngIf="visible">
        <form class="commentForm" #commentForm="ngForm" (ngSubmit)="onComment( commentInput.value )">
            <div class="form-group mt-2 comment">
                <label for="exampleFormControlTextarea1">Enter a comment:</label>
                <input #commentInput type="text" class="form-control" id="exampleFormControlTextarea1" rows="3">
            </div>
            <button type="submit" class="btn btn-success">Add Comment</button>
        </form>
    </div>
</div>