<div class="p-4" *ngIf="applicants">

    <div class="row text-center mb-2 mb-lg-5">

        <div class="col-xs-6 col-lg mb-2 mb-lg-0">
            <div class="card text-center">
                <div class="card-header card-title h4">
                    <div class="mt-1">First Name</div>
                </div>
                <div class="card-body p-2 p-lg-4">
                    <p class="card-text h4">{{ applicants.firstName }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg mb-2 mb-lg-0">
            <div class="card text-center">
                <div class="card-header card-title h4">
                    <div class="mt-1">Last Name</div>
                </div>
                <div class="card-body p-2 p-lg-4">
                    <p class="card-text h4">{{ applicants.lastName }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-lg mb-2 mb-lg-0">
            <div class="card text-center">
                <div class="card-header card-title h4">
                    <div class="mt-1">Email</div>
                </div>
                <div class="card-body p-2 p-lg-4">
                    <p class="card-text h4">{{ applicants.email }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg mb-2 mb-lg-0">
            <div class="card text-center">
                <div class="card-header card-title h4">
                    <div class="mt-1">Education</div>
                </div>
                <div class="card-body p-2 p-lg-4">
                    <p class="card-text h4">{{ applicants.educationLevel }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg mb-2 mb-lg-0">
            <div class="card text-center">
                <div class="card-header card-title h4">
                    <div class="mt-1">Status: {{ applicants.status }}</div>
                </div>
                <div class="card-body p-4">
                    <select (ngModelChange)="onUpdateStatus($event)" [(ngModel)]="status" id="inputState"
                        class="form-control" id="educationLevel" name="educationLevel" placeholder="Education Level"
                        required ngModel>
                        <option class="h5">Applied</option>
                        <option class="h5">Preselection</option>
                        <option class="h5">Inselection</option>
                        <option class="h5">Completed</option>
                        <option class="h5">Rejected</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-6 col-lg mb-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Curriculum Vitae</h4>
                    <p class="card-text">{{ applicants.cv }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg mb-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cover Letter</h4>
                    <p class="card-text">{{ applicants.coverLetter }}</p>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btnaddnewcomment" (click)="openCommentSection()">
                <i class="fa-solid fa-plus me-2"></i>Add Comment</button>
        </div>
    </div>

    <div *ngIf="visible" class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btnaddnewcomment" (click)="openCommentSection()">
                <i class="fa-solid fa-minus me-2"></i>Close Comment</button>
        </div>
    </div>

    <div *ngIf="visible">
        <form class="commentForm" #commentForm="ngForm" (ngSubmit)="onComment( commentInput.value )">
            <div class="form-group mt-2 comment">
                <label for="exampleFormControlTextarea1">Enter a comment:</label>
                <textarea #commentInput type="text" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Add Comment</button>
        </form>
    </div>

    <div id="comments" *ngFor="let comment of applicants.comments">

        <div class="card text-center mt-3 mt-lg-5">
            <div class="card-header card-title">
                <div class="h5 mt-1"> {{ comment.user.username }} </div>
            </div>
            <div class="card-body p-4">
                <p class="card-text"> {{ comment.comment }} </p>
            </div>
        </div>

    </div>
</div>