<div class="p-4">
    <div class="row text-end mb-3">
        <div class="col-9">
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-success" form="commentar-form">Save Changes</button>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col">
            <div class="card text-center">
                <div class="card-header card-title">
                    <div class="mt-1">First Name</div>
                </div>
                <div class="card-body p-4">
                    <p class="card-text h4">{{ applicants.firstName }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header card-title">
                    <div class="mt-1">Last Name</div>
                </div>
                <div class="card-body p-4">
                    <p class="card-text h4">{{ applicants.lastName }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header card-title">
                    <div class="mt-1">Email</div>
                </div>
                <div class="card-body p-4">
                    <p class="card-text h4">{{ applicants.email }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header card-title">
                    <div class="mt-1">Education</div>
                </div>
                <div class="card-body p-4">
                    <p class="card-text h4">{{ applicants.educationLevel }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- <div class="card text-center">
                <div class="card-header card-title">
                    <div class="mt-1">Status</div>
                </div>
                <div class="card-body p-3">
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Applied</a></li>
                            <li><a class="dropdown-item" href="#">Pre-Selection</a></li>
                            <li><a class="dropdown-item" href="#">In-Selection</a></li>
                            <li><a class="dropdown-item" href="#">Completed</a></li>
                            <li><a class="dropdown-item" href="#">Rejected</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <select (ngModelChange)="onUpdateStatus($event)" [(ngModel)]="status" id="inputState" class="form-control"
                id="educationLevel" name="educationLevel" placeholder="Education Level" required ngModel>
                <option>Applied</option>
                <option>Preselection</option>
                <option>Inselection</option>
                <option>Completed</option>
                <option>Rejected</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Curriculum Vitae</h5>
                    <p class="card-text">{{ applicants.cv }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cover Letter</h5>
                    <p class="card-text">{{ applicants.coverLetter }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="comments" *ngFor="let comment of applicants.comments">
        <div class="card text-center mt-5">
            <div class="card-header card-title">
                <div class="h5 mt-1"> {{ comment.user.username }} </div>
            </div>
            <div class="card-body p-4">
                <p class="card-text"> {{ comment.description }} </p>
            </div>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col text-center">
            <button type="button" class="btn btnaddnewcomment" (click)="openCommentSection()"><i
                    class="fa-solid fa-plus me-2"></i>Add Comment</button>
        </div>
    </div>
    <div *ngIf="visible">
        <form class="commentForm" #commentForm="ngForm" (ngSubmit)="onComment( commentInput.value )">
            <div class="form-group mt-2 comment">
                <label for="exampleFormControlTextarea1">Enter a comment:</label>
                <input #commentInput type="text" class="form-control" id="exampleFormControlTextarea1" rows="3">
            </div>
            <button type="submit" class="btn btn-success">Add Comment</button>
        </form>
    </div>
</div>