<nav class="navbar navbar-expand navbar-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <img src="../../assets/mistrallogo.png" alt="mistral" style="max-width: 200px">
    <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item h5">
                <a class="me-3 nav-link active dashboard" aria-current="page" routerLink="/applications">Dashboard</a>
            </li>
            <li class="nav-item h5">
                <a class="me-3 nav-link active" aria-current="page" routerLink="/">Jap</a>
            </li>
        </ul>
    </div>
</nav>