<div class="main-section">
    <div class="container">
        <div class="row text-center">

            <div class="col-xs-12 col-6 mt-5">
                <img src="../../../assets/programmer.png" style="max-width: 600px;">
            </div>

            <div class="col-xs-12 col-6">

                <div id="promotext">
                    <p class="h2 mb-3"><strong>Welcome to JAP</strong></p>
                    <p class="h3 mt-3">You’re in the right place if you’re looking for a high-quality
                        learning
                        program to
                        accelerate your journey towards getting a job in the industry. Upgrade your skills from entry
                        level
                        to junior in less than a few months!</p>
                    <button type="button" class="btn btn-info p2 mt-2" routerLink="/applyjap">Click here to
                        apply!</button>
                </div>

            </div>
        </div>
    </div>
</div>