<div class="wrapper">
    <div class="inner">
        <img src="../../../assets/Programmer-pana.png" alt="" class="image-1">
        <form class="formApplication" #applicationForm="ngForm" (ngSubmit)="onSubmit(applicationForm.value)">
            <h3>Log In</h3>
            <div class="form-holder">
                <input type="text" class="form-control" name="username" placeholder="Username" required ngModel>
            </div>
            <div class="form-holder">
                <input type="password" class="form-control" name="password" placeholder="Password" required ngModel>
            </div>
            <button type="submit">
                <span>Log In</span>
            </button>
        </form>
        <img src="../../../assets/coding-language.png" alt="" class="image-2">
    </div>
</div>